.general-text-align
  %p.in-gold-500.font-18 Order Summary
  %table.general-summary-table
    %tr
      %td
        %p.font-16 Subtotal:
      %td
        %p.font-16= "€#{order.decorate.subtotal}"
    %tr
      %td
        %p.font-16 Coupon:
      %td
        %p.font-16= "€#{order.decorate.coupon_discount}"
    %tr
      %td
        %strong.font-18 Order Total:
      %td
        %strong.font-18= "€#{order.decorate.order_total}"