.text-center
  %h1.mb-30= t('register.forgot_password')
  %p.general-password-text= t('register.forgot_password_message')
= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "general-form" }) do |f|
  = devise_error_messages!
  .form-group.mb-25
    = f.email_field :email, placeholder: t('register.enter_email'), class: "form-control"
  .actions
    = f.submit t('register.email_instructions'), class: "btn btn-default center-block mb-20"
  .text-center
    %a.in-gold-500.mb-20{href: root_path}= t('register.cancel')