= f.hidden_field :address_type, value: address_type
.form-group
  = f.input :firstname, input_html: { class: 'form-control', id: "#{address_type}_first_name" }, 
    label: 'First Name', placeholder: "First Name", label_html: { class: 'control-label input-label' }
.form-group
  = f.input :lastname, input_html: { class: 'form-control' }, 
    label: 'Last Name', placeholder: "Last Name", label_html: { class: 'control-label input-label' }
.form-group
  = f.input :address, 
      input_html: { class: 'form-control' }, 
      label: 'Address',
      placeholder: "Address", 
      label_html: { class: 'control-label input-label' }
.form-group
  = f.input :city, 
      input_html: { class: 'form-control' }, 
      label: 'City',
      placeholder: "City", 
      label_html: { class: 'control-label input-label' }
.form-group
  = f.input :zipcode, 
      input_html: { class: 'form-control' }, 
      label: 'Zip',
      placeholder: "Zip", 
      label_html: { class: 'control-label input-label' }
.form-group
  = f.input :country, 
      input_html: { class: 'form-control' }, 
      label: 'Country',
      placeholder: "Country", 
      label_html: { class: 'control-label input-label' }
.form-group
  = f.input :phone, 
      input_html: { class: 'form-control' }, 
      label: 'Phone',
      placeholder: "Example +355 66 123 4567", 
      label_html: { class: 'control-label input-label' }
- if visible_submit_btn
  .text-center.general-text-align
    = f.button :submit, 'Save', class: 'btn btn-default'