.col-xs-6.col-sm-3
  .general-thumb-wrap
    %div{class: 'thumbnail general-thumbnail' + (book.quantity.zero? ? ' disabled' : '')}
      = image_tag(book.root_image, class: 'img-shadow general-thumbnail-img')
      .thumb-hover
        .general-thumb-link-wrap
          = link_to book_path(book.id), class: 'thumb-hover-link eye-show-book-btn' do
            %i.fa.fa-eye.thumb-icon{'aria-hidden': "true"}
          = link_to cart_item_path(items: {price: book.price, quantity: 1, book_id: book.id}), method: :post, class: 'thumb-hover-link shopping-cart-buy-btn' do
            %i.fa.fa-shopping-cart.thumb-icon
  .general-thumb-info
    %p.title= book.title
    %p.font-16.in-gold-500= "€#{book.price}"
    %span.divider-sm
    %p.lead.small= book.authors_names