.item{ class: ( active ? 'active' : '' ) }
  .row
    .col-sm-5
      .general-img-wrap
        = cl_image_tag(book.root_image, class: 'img-shadow general-thumbnail-img')
    .col-sm-7
      .mb-60
        %h1= book.title
        - unless book.description.empty?
          %p.lead= book.description
        %p.lead.small= book.authors_names
        .general-align
          = link_to shopping_cart.cart_item_path(items: {price: book.price, quantity: 1, book_id: book.id}), method: :post do
            %button{class: (book.quantity.zero? ? 'disabled btn' : 'btn btn-primary'), disabled: book.quantity.zero? }= t('home.buy_now')