#slider.carousel.slide{'data-ride': "carousel"}
  %ol.carousel-indicators
    - @slider_books.each_with_index do |item, index|
      %li{'data-target': "#slider", 'data-slide-to': index, class: ('active' if index.zero?) }
  .carousel-inner{role: "listbox"}
    - @slider_books.each_with_index do |item, index|
      = render 'carousel_book', active: (index.zero? ? true : false), book: item
  %a.left.carousel-control{href: "#slider", role: "button", 'data-slide': "prev"}
    %span.icon-prev{'aria-hidden': "true"}
    %span.sr-only Previous
  %a.right.carousel-control{href: "#slider", role: "button", 'data-slide': "next"}
    %span.icon-next{'aria-hidden': "true"}
    %span.sr-only Next
.container
.jumbotron.text-center.mb-0
  %h2.h1= t('home.welcome_to_bookstore')
  .mb-res-50
    %p= t('home.description')
  = link_to t('home.get_started_btn'), categories_path, class: 'btn btn-default'  
.mb-35
  %h3 Best Sellers
  .row
    - @best_seller_books.each do |item|
      = render 'shared/book', book: item.decorate