.text-center
  %h3.general-login-title Log In
  = link_to user_facebook_omniauth_authorize_path, class: 'general-login-icon' do
    %i.fa.fa-facebook-official
  %p.general-login-text or
= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: 'general-form'}) do |f|
  .form-group.mb-30
    = f.label :email, class: 'control-label input-label', html: {  'data-bar' => 'Enter Email' }
    = f.email_field :email, autofocus: true, autocomplete: "email", id: 'email', class: 'form-control', placeholder: "Enter Email"
  .form-group.mb-30
    = f.label :password, class: 'control-label input-label', html: { 'data-bar' => 'Password' }
    = f.password_field :password, autocomplete: "off", id: 'password', class: 'form-control', placeholder: "Password"
    - if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations'
      = link_to "Forgot password?", new_password_path(resource_name), class: 'help-block in-gold-500'
  .form-group.checkbox.text-center.mb-30
    - if devise_mapping.rememberable?
      %label.checkbox-label
        = f.check_box :remember_me, class:'checkbox-input', hidden: "true"
        %span.checkbox-icon
          %i.fa.fa-check
        %span.checkbox-text Remember me
  .text-center
    = f.submit "Back to Store", class: 'btn btn-default mb-20'
%p.general-sign-text.text-center
  Don’t have an Account?
  = link_to 'Sign Up', new_user_registration_path, class: 'in-gold-500'